.inactive {
  display: none;
}

.modalContainer {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #17171a;
  height: 720px;
  max-width: 1180px;
  width: 100%;
  border: 2px solid #252529;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  margin: 0px 40px;
}

.thumbnail {
  grid-row: 1 / -1;
  grid-template-columns: 1;
  width: 100%;
  height: 100%;
  justify-self: center;
  align-self: center;
  background: #121214;
  border-right: 2px solid #252529;
}

.boxUpperPart {
  display: flex;
  grid-column: 2;
  grid-row: 1;
}

.date {
  font-family: Inter, Arial;
  font-size: 16px;
  font-weight: 500;
  color: #e07b67;
  margin: 2.2rem 1.5rem;
  margin-bottom: 0px;
  width: 200px;
}

.title {
  font-family: Space Grotesk, Helvetica;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 2rem 1.5rem;
  margin-bottom: 0px;
}

.content {
  font-family: Inter, Arial;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  margin: 20px 20px;
  margin-bottom: 0px;
  color: #afabb6;
  overflow-y: scroll;
  height: auto;
}

.likeButton {
  grid-row: 3;
  color: white;
  margin: 0px 20px;
  place-self: center start;
}

@media (max-width: 770px) {
  .modal {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 6fr 1fr;
  }
  .date {
    font-size: 12px;
  }

  .title {
    font-size: 20px;
  }

  .content {
    font-size: 12px;
    height: auto;
  }
}

@media (max-width: 375px) {
  .modal {
    height: 520px;
    width: 100%;
    grid-template-rows: 1fr 0.2fr 1fr 0.2fr;
  }
  .thumbnail {
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .boxUpperPart {
    grid-column: 1 / -1;
    grid-row: 2;
  }
  .title {
    grid-column: 1 / -1;
    font-size: 14px;
    margin: 20px;
  }
  .date {
    font-size: 10px;
    margin: 20px 10px;
  }
  .content {
    grid-row: 3;
    grid-column: 1 / -1;
    font-size: 12px;
    height: auto;
    margin: 0px 20px;
  }
  .likeButton {
    grid-row: 4;
    grid-column: 2;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
